@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

//modal
.modal{
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.73);
  .modal_content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 15px;
    width: 70%;
    height: auto;
    overflow: hidden;
    .close{
      float: right;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: red;
        @include transition(.5s)
      }
    }
    .modal_header{
      text-align: center;
      padding: 10px 0;
      h1{
        font-size: 22px;
      }
    }
    .modal_wrapp {
      margin-top: 15px;
      .modal_confirm{
        text-align: center;
        color: red;
        display: none;
      }
      .err_block{
        display: none;
        padding: 10px;
        border: 1px solid rgba(255, 0, 0, 0.46);
        margin: 5px 0;
        color: red;
      }
      .modal_forms {
        .name, .s_name, .theme{
          margin-bottom: 15px;
        span{
          font-size: 20px;
        }
        #name, #s_name {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 30px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        #modal_field {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 180px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        }
        .btn_modal{
          border: 1px solid #cec9c9;
          width: 105px;
          height: 35px;
          background-color: #e1e1e3;
          color: #000;
          &:hover {
            background-color: #cfcfd1;
            color: #000;
            @include transition(.3s)
          }
        }
        .btn_modal_err{
          display: none;
          border: none;
          width: 105px;
          height: 35px;
          background-color: #e37c73;
          border-color: #ccc;
          color: #000;
        }
      }
    }
  }
}
//test
.one{
  background: url("https://im1-tub-ru.yandex.net/i?id=b6e7ffca8964bc1f2d0ef651802d956d-l&n=13") no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  .one-inner{
    .one-header{
      background: #fff;
      height: 250px;
      display: none;
    }
    .block-content{
      height: auto;
      .wrapp_content{
        width: 60%;
        height: 100vh;
        margin: 0 auto;
        padding-top: 100px;
        //border: 1px solid #fff;
        @include mobile_m{
          width: 80%;
        }
        .block_serv_desc{
          //border: 1px solid #fff;
          width: 50%;
          margin: 0 auto;
          color: #fff;
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          @include mobile_s {
            width: 100%;
            font-size: 18px;
          }
          @include mobile_m{
            width: 100%;
            font-size: 18px;
          }
          @include mobile_l{
            width: 100%;
            font-size: 18px;
          }
        }
      }

      h1{
        color: #fff;
        text-align: center;
        font-size: 575%;
        display: block;
        margin-bottom: 10%;
        @include mobile_s {
          font-size: 45px;
          margin-bottom: 25%;
        }
        @include mobile_m{
          font-size: 45px;
          margin-bottom: 25%;
        }
        @include mobile_l{
          font-size: 45px;
          margin-bottom: 25%;
        }
      }
      .serv{
        color: #fff;
        text-align: center;
        display: block;
        font-size: 35px;
        margin-top: 55px;
        cursor: pointer;
      }
    }
    .one-footer{
      background: #fff;
      height: 100vh;
      .wrapp-footer{
        //border: 1px solid #ccc;
        width: 60%;
        margin: 0 auto;
        overflow: hidden;
        height: 100vh;
        .left-block-footer{
          @include bradius(5px);
          margin-top: 150px;
          padding: 10px;
          background-color: rgba(189, 223, 116, 0.36);
          .left-block-head{
            text-align: center;
            h1{
              font-size: 24px;
              color: #000;
            }
          }
          .img-wrapp-footer{
            text-align: center;
            .img-left-footer{
              width: 150px;
              padding: 10px;
              background-color: #fff;
              @include bradius(50%);
            }
          }
          .footer-price{
            display: block;
            text-align: center;
            margin-top: 25px;
            font-size: 25px;
            color: #b24040;
            font-weight: bold;
          }
        }
        .right-block-footer{
          padding-top: 150px;
          overflow: hidden;
          span{
            padding: 10px 0;
            font-size: 19px;
          }
          .audio{
            width: 100%;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
.two{
  background: url("https://im0-tub-ru.yandex.net/i?id=0fb7a20b50799df6f81f82678dbb2bb5-l&n=13") no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  .two-inner{
    .two-header{
      background: #fff;
      height: 250px;
      display: none;
    }
    .block-content{
      height: auto;
      .wrapp_content{
        width: 60%;
        padding-top: 100px;
        height: 100vh;
        margin: 0 auto;
        border: 1px solid #fff;
        .block_serv_desc{
          border: 1px solid #fff;
          width: 50%;
          margin: 0 auto;
          color: #fff;
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          @include mobile_s {
            width: 100%;
            font-size: 18px;
          }
          @include mobile_m{
            width: 100%;
            font-size: 18px;
          }
          @include mobile_l{
            width: 100%;
            font-size: 18px;
          }
        }
      }
      h1{
        color: #fff;
        text-align: center;
        font-size: 575%;
        display: block;
        margin-bottom: 10%;
        @include mobile_s {
          font-size: 45px;
          margin-bottom: 25%;
        }
        @include mobile_m{
          font-size: 45px;
          margin-bottom: 25%;
        }
        @include mobile_l{
          font-size: 45px;
          margin-bottom: 25%;
        }
      }
      .serv{
        color: #fff;
        text-align: center;
        display: block;
        font-size: 35px;
        margin-top: 55px;
        cursor: pointer;
      }
    }
    .two-footer{
      background: #fff;
      height: 100vh;
    }
  }
}
.three{
  background: url("https://im1-tub-ru.yandex.net/i?id=b6e7ffca8964bc1f2d0ef651802d956d-l&n=13") no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  .three-inner{
    .three-header{
      background: #fff;
      height: 250px;
      display: none;
    }
    .block-content{
      height: auto;
      .wrapp_content{
        width: 60%;
        height: 100vh;
        margin: 0 auto;
        padding-top: 100px;
        border: 1px solid #fff;
        @include mobile_m{
          width: 80%;
        }
        .block_serv_desc{
          border: 1px solid #fff;
          width: 50%;
          margin: 0 auto;
          color: #fff;
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          @include mobile_s {
            width: 100%;
            font-size: 18px;
          }
          @include mobile_m{
            width: 100%;
            font-size: 18px;
          }
          @include mobile_l{
            width: 100%;
            font-size: 18px;
          }
        }
      }

      h1{
        color: #fff;
        text-align: center;
        font-size: 575%;
        display: block;
        margin-bottom: 10%;
        @include mobile_s {
          font-size: 45px;
          margin-bottom: 25%;
        }
        @include mobile_m{
          font-size: 45px;
          margin-bottom: 25%;
        }
        @include mobile_l{
          font-size: 45px;
          margin-bottom: 25%;
        }
      }
      .serv{
        color: #fff;
        text-align: center;
        display: block;
        font-size: 35px;
        margin-top: 55px;
        cursor: pointer;
      }
    }
    .three-footer{
      background: #fff;
      height: 100vh;
    }
  }
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  //background: $bodybg;
}
.bg_section {
  //background: #3a253b;
}
.nav {
  //background: $navbg;
  //height: 100px;
  background: rgba(255, 255, 255, 0.47);
  height: 75px;
  border-bottom: 1px solid #ccc;
  .brand {
    float: left;
    @include mobile_l {
      margin-left: 15px;
    }
    @include tablet {
      margin-left: 15px;
    }
    .logo_img {
      width: 35px;
      vertical-align: middle;
    }

    .logo_link {
      //color: $navclr;
      //line-height: 100px;
      //text-transform: uppercase;
      //font-weight: bold;
      //margin-left: 10px;
      //font-size: 22px;
      color: #000;
      line-height: 75px;
      text-transform: uppercase;
      font-weight: 700;
      margin-left: 10px;
      font-size: 22px;
      &:hover {
        color: $navlinkhov;
        @include transition(.5s)
      }
    }
  }
  #justify_nav {
    display: none;
    @include mobile_l {
      display: block;
      float: right;
      color: #060606;
      line-height: 75px;
      font-size: 16px;
      margin-right: 15px;
    }

  }
  .menu {
    float: right;
    line-height: 75px;
    @include mobile_l {
      height: auto;
      background: #fff;
      margin-top: 75px;
      text-align: left;
      width: 100%;
      float: none;
      padding: 10px 15px;
      display: none;
      position: absolute;
      z-index: 9999;
      outline: 1px solid #ccc;
    }
    @include tablet {
      margin-right: 15px;
    }
    #about_us {
      color: #8c8ca4;
      cursor: pointer;
      &:hover i{
        color: #ee1675;
        @include transition(.5s);
      }
      &:hover a{
        color: #ee1675;
        @include transition(.5s);
      }

    }

    ul {
      //line-height: 100px;
      line-height: 75px;
      @include mobile_l {
        display: block;
        margin: 0 auto;
        padding: 0;
      }
      i {
        color: #8c8ca4;
        margin-left: 10px;
        @include mobile_l {
          color: #000;
        }
      }

    }

    .about-ul {
      @include large {
        display: none;
        position: absolute;
        top: 80px;
        right: 50px;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        padding: 20px;
        width: 350px;
        z-index: 999;
        border: 1px solid #cccccc;
      }
      @include mobile_l {
        display: none;
        margin: 0 auto;
        padding: 0;
        border-top: 1px solid $brd_grey;
      }
      @include tablet {
        display: none;
        position: absolute;
        top: 80px;
        right: 50px;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        padding: 20px;
        width: 350px;
        z-index: 999;
        border: 1px solid #cccccc;
      }
      .about--li {
        line-height: 30px;
        text-transform: uppercase;
        @include mobile_l {
          display: block;
          padding: 0;
          text-transform: lowercase;
        }
        &:hover {
          cursor: pointer;
          padding-left: 10px;
          @include transition(.5s);
          background: rgba(121, 81, 116, 0.35);
        }
      }
      #linkModal{
        color: #ee1675;
        font-weight: bold;
        &:hover {
          color: #fff;
        }
        @include mobile_l {
          margin-left: 20px;
        }
      }
      .about--li > a {
        color: #000;
        font-weight: 700;
        display: block;
        width: 100%;
        &:hover {
          color: #fff;
          @include transition(.5s);
        }
        @include mobile_l {
          display: block;
          margin-left: 20px;
          padding: 0;
          color: #000;
        }
      }
    }

    .menu-list {
      float: left;
      margin-left: 10px;
      text-transform: uppercase;
      font-weight: bold;
      @include mobile_l {
        float: none;
        line-height: 30px;
        padding: 10px 0;
        margin-left: 20px;
      }
      #active {
        color: #000;
        @include mobile_l {
          color: $pink_color;
          &:hover {
            color: #ccc;
            @include transition(.10s);
          }
        }
      }

      a {
        color: $m_listclr;
        font-size: 18px;
        &:hover {
          color: $m_listclr_hv;
          @include transition(.10s)
        }
        @include mobile_l {
          color: #000;
          &:hover {
            color: #ccc;
            @include transition(.10s);
          }
        }
      }
    }
  }
}
.wrapp_header {
  height: 100vh;
  background: #fff;
  background-image: url(../img/turntable-1109588_1920.jpg);
  background-size: cover;
}
.header {
  // background: #ccc;
  bottom: 0;
  width: 250px;
  height: 250px;
  padding-top: 50px;
  border-radius: 50%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(64, 63, 63, 0.28);
  .main_img {
    margin: 0 auto;
    display: block;
    width: 170px;
    @include mobile_l {
      // top: -40px;
    }
  }
  .voicing {
    width: 150px;
    // background: #FFF;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px auto;
  }

  .youre {
    width: 200px;
    // background: #FFF;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px auto;
  }
  .youre_dream {
    width: 250px;
    // background: #FFF;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
  }
  h1 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
  }
}
#fa-angle-down {
  color: rgba(0, 0, 0, 0.51);
  margin: 110px auto 0;
  display: block;
  text-align: center;
  font-size: 52px;
  cursor: pointer;
  &:hover {
    color: #ccc;
    @include transition(.5s);
  }
}
#main_about {
  min-height: 100vh;
  background: #edebeb;
  overflow: hidden;
  padding-bottom: 50px;
  .main_about_header {
    text-align: center;
    margin: 65px 0;
    font-size: 25px;
  }
  .wrapp_items {
    overflow: hidden;
    margin-bottom: 50px;
    .main_about_items {
      padding: 5px;
      background: #fff;
      border: 1px solid rgba(190, 136, 204, 0.46);
      .img_block {
        text-align: center;
      }
      .img_block > img {
        width: 150px;
        //margin-bottom: 15px;
        margin: 15px 0;
      }
    }
    .main_block_desc {
      text-align: center;
      font-size: 26px;
      margin-bottom: 35px;
      .mb{
        font-size: 21px;
        color: #918c8c;
        padding: 5px 32px;
        margin-top: 5px;
      }
    }
  }
  .main_wach_serv {
    text-align: center;
    .follow_serv {
      padding: 10px;
      background: #fff;
      border: 1px solid #be88cc;
      font-weight: bold;
      color: #be88cc;
      font-size: 20px;
      @include bradius(3px);
      &:hover {
        background: #be88cc;
        color: #fff;
        @include transition(.5s);
      }
    }
  }
}
//servises
.header_serv {
  margin: 25px 0;
  text-align: center;
  h1 {
    font-size: 35px;
  }
}

.body_serv {
  padding-bottom: 25px;
  overflow: hidden;
  .audio_items{
    .audio{
      display: block;
      margin: 0 auto;
    }
  }
  .body_serv_wrapp {
    overflow: hidden;
    padding: 15px;
    h1 {
      color: deepskyblue;
      text-transform: uppercase;
    }
    p, h1 {
      font-size: 22px;
    }
    img {
      width: 135px;
      display: block;
      margin: 0 auto;
      @include mobile_l {
        margin-bottom: 15px;
      }
    }
  }
}
//portfolio
.wrapp_portf{
  .header_portf{
    @extend .header_serv;
    h1 {
      font-size: 35px;
    }
  }
  .audio_items{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    .img_n_desc{
      overflow: hidden;
      height: auto;
      img{
        width: 100%;
        @include tablet {
          width: 200px;
        }
      }
    }
    .audio{
      width: 100%;
      display: block;
      margin: 15px auto;
    }
    .port_head_desc{
      h1{
        margin-bottom: 5px;
      }
    }
  }
}
.footer {
  background: #000;
  padding: 15px;
  .about-ul-footer{
    .about--li-footer{
      padding: 5px 0;
      font-size: 18px;
      text-transform: uppercase;
      a{
        color: #818080;
        &:hover {
          color: #444343;
          @include transition(.5s);
        }
      }
    }
  }
}
