@mixin transition($time){
  -webkit-transition: all $time ease;
  -moz-transition:    all $time ease;
  -o-transition:      all $time ease;
  transition:         all $time ease;
}

//медиа-запросы
@mixin large{
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet{
	  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin model_l{
	  @media only screen and (max-width: 480px) {
    @content;
  }
}
