@mixin transition($time){
  -webkit-transition: all $time ease;
  -moz-transition:    all $time ease;
  -o-transition:      all $time ease;
  transition:         all $time ease;
}

//медиа-запросы

@mixin model_l{
	  @media screen and (max-width: 426px) {
    @content;
  }
}