$bodybg: #ccc;
$navbg: #fff;
$navclr: #fff;
$navclr_fixed: #fff;
$nav_font_fixed: #000;
$fsz_menu: 16px;
$navlinkhov: #4f7ead;
$m_listclr: #8c8ca4;
$m_listclr_hv: #fff;
$pink_color: #c237b1;
$brd_grey: #ccc;
$fs_body: 18px;
$lk_bg_nav: #888f52;
$lk_bg_nav_hover: #6b7239;


//nav
$lh_nav: 75px;

//side
$bg_side: #fff;
$bg_side_active: #8bbfff;
$a_clr: #000;
$a_clr_active: #465773;
$a_clr_active_hover: #617ba7;

