$bodybg: #ccc;
$navbg: #fff;
$navclr: #fff;
$navclr_fixed: #fff;
$nav_font_fixed: #000;
$fsz_menu: 16px;
$navlinkhov: #4f7ead;
$m_listclr: #8c8ca4;
$m_listclr_hv: #fff;
$pink_color: #c237b1;
$brd_grey: #ccc;
$fs_body: 18px;
$lk_bg_nav: #888f52;
$lk_bg_nav_hover: #6b7239;


//default
$padding_default: 20px;
$transition_default: .2s;

//nav
$lh_nav: 60px;

//side
$bg_side: transparent;
$bg_side_active: #8bbfff;
$a_clr: #fff;
$a_clr_active: orangered;
$a_clr_active_hover: #464646;

//examples

$item_height: 350px;

//footer
$bg_footer: #141c28;
$clr_footer: #afafaf;
$clr_footer_hover: #fff;
