$bodybg: #ccc;
$navbg: #122232;
$navclr: #fff;
$navclr_fixed: #fff;
$nav_font_fixed: #000;
$fsz_menu: 18px;
$navlinkhov: #4f7ead;
$m_listclr: #8c8ca4;
$m_listclr_hv: #fff;
$pink_color: #c237b1;
$brd_grey: #ccc;
$fs_body: 22px;
$lk_bg_nav: #888f52;
$lk_bg_nav_hover: #6b7239;

